<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Capit</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->



    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/js/uikit-icons.min.js"></script>

    <link rel="new stylesheet" href="static/css/new.css">

</head>
<body>
    <div uk-sticky class="uk-animation-slide-top my-animation-duration">
    <nav class="uk-navbar-container" style="background: #232931;" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav my-navbar">
                <li><a style="margin-left: 6vw;" href="{{url_for('home')}}">Home</a></li>
                {%if user != ""%}
                    <p>Debug: User: {{user}}</p>
                {%else%}
                    <li><a href="{{url_for('login')}}">Login</a></li>
                    <li><a href="{{url_for('register')}}">Register</a></li>
                {%endif%}
            </ul>
        </div>
    </nav>
</div>
{%block content%}
{%endblock%}

<div uk-sticky="position: bottom" class="uk-text-center" style="color: #232931;">
    Welcome to the bottom of the site ;D
</div>
</body>
</html>