<!doctype html>
<html lang="en">

<body>
    {% extends "base.html" %}
    {%block content %}
    <div class="my-padding">
        <h1 style="color: #fff; font-size: 7vw;">Hello and welcome<br>to <span class="accent">CAPIT</span>.</h1>
        <h2 style="font-size: 3vw;">A place full of cap,<br>and cap <span class="accent">only</span>!</h2>
        <h2 style="font-size: 3vw;">To get in on all the cap for yourself,<br>just <a class="my-link" style="text-decoration: none;" href="{{url_for('register')}}">create a free account</a> in just a few seconds!</h2>
    </div>
    <div class="my-padding" uk-scrollspy="cls:uk-animation-slide-left; repeat: true;">
        <h1 class="accent uk-margin-medium-bottom" style="font-size: 5vw;">Reviews</h1>

        <div class="uk-grid-match uk-child-width-expand@s" uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <h3 class="uk-card-title">Mrs. Sen De Help</h3>
                    <p style="color: #333;">"I must say that I have really enjoyed opening CAPIT every morning and seeing all the posts! Some of them really make my day, and I am very grateful that CAPIT exists! Thanks y'all!"</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <h3 class="uk-card-title">Mr. Fa Ked</h3>
                    <p style="color: #333;">I really like CAPIT. All the posts contain such interesting information. It's almost like I have gotten a CAPIT-addiction, which for me is a good thing!<br><br>I give CAPIT a solid 5/5 :D</p>
                </div>
            </div>
        </div>


    </div>

    {% endblock %}
</body>
</html>