<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My user</title>
</head>
<body>
    {% if user != ""%}
    <h1>You are logged in as {{user}}</h1>
    {%if exists%}
    <label>Profile pic:</label>
    <img src="{{pic}}" height="60" alt="path: {{pic}}" style="clip-path: circle();">
    {%else%}
    <label>Profile pic:</label>
    <img src="static/files/default.jpg" height="60" alt="the default profile picture" >
    {%endif%}
    <form method="POST" enctype="multipart/form-data" style="padding: 10px 10px 20px 0px;">
            <p>Uppload file</p>

            {{form.hidden_tag()}}
            {{form.file()}}
            {{form.submit()}}

        </form>

    <a href="{{url_for('logout')}}">Log out</a><br>
    <a href="{{url_for('myDelete')}}">Delete my account</a><br>
    <a href="{{url_for('home')}}">Home</a><br>


    {%else%}
    <h1>We had an error and it seems like you are not logged</h1>
    <h2>click <a href="{{url_for('login')}}">here</a> to go to the login page</h2>
    {%endif%}
</body>
</html>